<!DOCTYPE html>
<meta content="True" name="HandheldFriendly" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="js/vue.js"></script>
<link rel="icon" href="tb.png" type="image/x-icon" />
<link rel="manifest" href="manifest.json">

<link rel="stylesheet" href="css/ELEMENT.css" />
<script src="js/ELEMENT.js"></script>
<!-- <script src="js/jquery.min.js"></script> -->
<title>收益率计算</title>
<style>
    .el-main {
        background-color: #e9eef3;
        color: #333;
        text-align: center;
    }
    
    .el-slider__runway.show-input {
        margin-right: 140px;
        margin-left: 10px;
    }
    
    body {
        margin-right: 0;
    }
    
    .el-input-number {
        left: 3em;
    }
    
    .el-slider .el-input-number {
        left: 0em;
    }
    
    .el-input {
        display: inline-block;
        /* width: 100px; */
    }
    
    .el-icon-minus,
    .el-icon-plus {
        line-height: inherit;
        ;
    }
    
    .el-slider--with-input {
        display: inline-block;
        width: calc(100% - 4.5em - 16px);
        position: relative;
        top: 0.8em;
    }
</style>
<script>
</script>

<div id="app" v-cloak style="margin-top: 20px;line-height: 3em;">
    <template>
        定存<br>
        投入比例 <el-slider v-model="dc" @input="calc" show-input :format-tooltip="formatTooltip"></el-slider>
        <br>
        上限 <el-input-number v-model="dc_u" :step=0.1></el-input-number>
        <br>
        下限 <el-input-number v-model="dc_d" :step=0.1></el-input-number>
        <br>
        <br>
        基金<br>
        投入比例 <el-slider v-model="jj" @input="calc" show-input :format-tooltip="formatTooltip"></el-slider>
        <br>
        上限 <el-input-number v-model="jj_u" :step=0.2></el-input-number>
        <br>
        下限 <el-input-number v-model="jj_d" :step=0.2></el-input-number>
        <br>
        <br>
        股票<el-input v-model="gp" :disabled="true"></el-input>
        上限 <el-input-number v-model="gp_u"></el-input-number>
        <br>
        下限 <el-input-number v-model="gp_d"></el-input-number>
        <el-card class="box-card" style="margin: 0 auto;width: 16em;">
            资产总体回报:
            <br>上限:
            {{(dc*dc_u+jj*jj_u+gp*gp_u)/100}}%
            <br>下限:
            {{(dc*dc_d+jj*jj_d+gp*gp_d)/100}}%
        </el-card>
    </template>
</div>
<script>
    tableData_ = eval()
    app = new Vue({
        el: '#app',
        // delimiters: ['{[', ']}'],
        data() {
            return {
                dc: 10,
                jj: 70,
                gp: 20,
                dc_d: 2,
                dc_u: 4.5,
                jj_d: -10,
                jj_u: 20,
                gp_d: -30,
                gp_u: 100,
            };
        },
        methods: {
            calc() {
                this.gp = 100 - this.jj - this.dc
                if (this.gp < 0)
                    this.jj = 100 - this.dc
            },
            formatTooltip(val) {
                return val + "%";
            }

        }
    });
</script>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker
                // 注册 service worker
                .register('sw.js', {
                    scope: '/touzishouyi/'
                })
                .then(function(registration) {
                    // 注册成功
                    // console.log(
                    //     'ServiceWorker registration successful with scope: ',
                    //     registration.scope
                    // );
                })
                .catch(function(err) {
                    // 注册失败:(
                    console.log('ServiceWorker registration failed: ', err);
                });
        });
    }
    // 取消添加到主屏幕
    window.addEventListener('beforeinstallprompt', function(e) {
        e.preventDefault();
        return false;
    });

    // 添加到主屏幕后响应
    window.addEventListener('beforeinstallprompt', function(event) {
        event.userChoice.then(result => {
            console.log(result);
            // {outcome: "dismissed", platform: ""} // 取消添加
            // {outcome: "accepted", platform: "web"} // 完成添加
        });
    });

    // 手动添加，要等到符合规格后才能起效
    let savedPrompt = null; // 用来保存 事件
    const btn = document.getElementById('btn');
    // 添加到主屏幕后响应
    window.addEventListener('beforeinstallprompt', function(e) {
        e.preventDefault();
        savedPrompt = e;
        return false;
    });
    // btn.addEventListener('click', function() {
    //     if (savedPrompt) {
    //         console.log(savedPrompt);
    //         // 异步触发横幅显示，弹出选择框，代替浏览器默认动作
    //         savedPrompt.prompt();
    //         // 接收选择结果
    //         savedPrompt.userChoice.then(result => {
    //             console.log(result);
    //         });
    //     }
    // });
</script>